@model Cloud_homework4.Models.RestaurantGenreModel

@{
    ViewData["Title"] = "Restaurants";
}

<h1 class="text-center">餐廳清單</h1>

<p class="float-lg-right form-sm-inline">
    <a class="form-control btn btn-success" role="button" asp-action="Create">新增餐廳</a>
</p>

<form class="form-inline" asp-controller="Restaurants" asp-action="Index" method="get">
    <select class="form-control mb-2 mr-sm-2" asp-for="RestaurantGenres" asp-items="Model.Genres" id="str_genres" name="str_genres">
        <option value="">All</option>
    </select>
    <label class="mb-2 mr-sm-2" for="str_search">Keyword:</label>
    <input class="form-control mb-2 mr-sm-2" type="text" id="str_search" name="str_search" />
    <input class="mb-2 form-control btn btn-primary" type="submit" value="搜尋" />
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].ReleaseDate)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Restaurants) {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    <a role="button" aria-pressed="true" class="btn btn-primary col-12" asp-action="Edit" asp-route-id="@item.Id">編輯</a>
                </td>
                <td>
                    <a role="button" aria-pressed="true" class="btn btn-danger col-12" asp-action="Delete" asp-route-id="@item.Id">刪除</a>
                </td>

            </tr>
        }
    </tbody>
</table>
